.cards {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    height: 250px;
    gap: 10px;
}

.card {
    flex: 1;
    background: lightgray;
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
}

.reorder {
   
    background: lightpink;
}

.special {
    align-self: flex-end;
    background: lightgreen;
}
