.hero {
    display: flex;
    height: 300px;
}

.text {
    flex: 0 0 40%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1 1 auto;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 10px;
}
