*{
    margin: 0;
}
.dashboard {
    display: flex;
    height: 400px;
}

aside {
    flex: 0 0 200px;
    background: lightcoral;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background: #eee;
}

.toolbar {
    background: lightblue;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.card {
    flex: 1 1 33%;
    background: white;
    border: 2px solid #333;
    text-align: center;
    padding: 20px;
}
